# k8s-postgres.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: product-inventory
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: product-inventory
type: Opaque
data:
  POSTGRES_PASSWORD: cG9zdGdyZXM= # "postgres" base64
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pern-postgres
  namespace: product-inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pern-postgres
  template:
    metadata:
      labels:
        app: pern-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: pern_app
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: pern-postgres
  namespace: product-inventory
spec:
  selector:
    app: pern-postgres
  ports:
    - port: 5432
      targetPort: 5432
